[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
geopy = "*"

[dev-packages]
jupyter = "*"
jedi = "*"
importmagic = "*"
"autopep8" = "*"
yapf = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
